# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.nox/
.eggs/
*.egg-info/
*.egg
instance/
.web-venv/

# Node / Docusaurus
node_modules/
npm-debug.log
npm-debug.log*
yarn-error.log
yarn-debug.log*
yarn-error.log*
package-lock.json
dist/
build/
.npm/
.yarn/
.cache/
.docusaurus
.cache-loader
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local